<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="../post/user/auth.min.css" />
      <link rel="stylesheet" href="../css/all.min.css" />
      <script src="JS/jquerymlib3.1.4.js"></script>
      <title>
         <%= pageTitle %>
      </title>
   </head>
   <body></body>
</html>
