<div class="nav-bar">
   <div class="top-nav">
      <a class="alias <%=path =='/dashboard'? 'active':''%>" href="/dashboard">
         <i class="fas fa-chart-area icon"></i>
         Dashboard
      </a>
      <a class="alias <%=path =='/orders'? 'active':''%>" href="/orders">
         <i class="fa fa-mail-bulk icon"></i>
         Orders
      </a>
      <a class="alias <%=path =='/address'? 'active':''%>" href="/address">
         <i class="fa fa-address-card icon"></i>
         Address
      </a>
      <a class="alias <%=path =='/account'? 'active':''%>" href="/account">
         <i class="fa fa-cog icon"></i>
         Account settings
      </a>
   </div>
   <div class="bottom-nav">
      <a class="alias" href="/logout">
         <i class="fa fa-sign-out-alt icon"></i>
         log out
      </a>
   </div>
</div>
