<%- include("../partials/admin.ejs") %>
<h2>Dashboard</h2>
<div class="sharp">
   <div class="divider-top">
      statistics
   </div>
   <div class="jab">
      <div class="board">
         <div class="title">
            Monthly profit
         </div>
         <div class="data">0 <span>%</span></div>
      </div>
      <div class="board">
         <div class="title">
            No. of Users
         </div>
         <div class="data">0 <span>%</span></div>
      </div>
      <div class="board">
         <div class="title">
            Stock Size
         </div>
         <div class="data">0 <span>%</span></div>
      </div>
   </div>
</div>
</div>
<%- include("../partials/admin-foot.ejs") %>
